<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/getDomainAge"><b>getDomainAge</b> <small>(ver. {{ session.app_version }})</small></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
          {% if session.logged_in %}
            <li class="nav-item"><a class="nav-link {% if session.page_index == 0 %}active{% endif %}" href="/getDomainAge/api/job">Add New Job</a></li>
            <li class="nav-item"><a class="nav-link {% if session.page_index == 1 %}active{% endif %}" href="/getDomainAge/api/job/view">View My Jobs</a></li>
            <li class="nav-item"><a class="nav-link {% if session.page_index == 2 %}active{% endif %}" href="/getDomainAge/api/job/view?all">View All Jobs</a></li>
            <li class="nav-item"><a class="nav-link {% if session.page_index == 3 %}active{% endif %}" href="/getDomainAge/api/logout">Logout</a></li>
          {% endif %} 
      </ul>
    </div>
  </nav>

  