{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron">
      <h1 class="display-4">Welcome To getDomainAge !</h1>
      <p class="lead">This application allows you to get the age of a domain in days for a given URL.</p>
      <span>For any assistance, please drop a mail at <b>ljnath@ljnath.com</b></span>
      <hr class="my-4">
      <p>How to use?</p>
      <ol>
          <li>Login with your email as you will receive the result on your email</li>
          <li>Add a new job where you need to enter the URLs for which you need the age. Input URLs can be comma or new-line seperated</li>
          <li>Wait for your job to be processed. Once processed, you will receive an email with the domain age for each URL.</li>
      </ol>
  </div>
  
  <div>
      {% if session.logged_in == NULL %}
        <form action="" method="POST">
            <div class="form-group">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Enter your email ID" aria-label="Recipient's username" aria-describedby="basic-addon2" name="email" value={{request.form.email}}>
                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon2">Email</span>
                    </div>
                  </div>
            </div>
            <div class="text-right">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
          </form>
        {% endif %}
  </div>
{% endblock %}
